# ── NEON DATABASE ──
# Connection string from Neon dashboard
DATABASE_URL=open

# ── AUTH.JS ──
AUTH_SECRET=d990a7dda3f532da279458dd12e9bc89
NEXTAUTH_URL=http://localhost:3000
NEXT_PUBLIC_APP_URL=http://localhost:3000

# ── PAYSTACK ──
PAYSTACK_SECRET_KEY=
NEXT_PUBLIC_PAYSTACK_PUBLIC_KEY=

# ── APP CONFIG ──
NEXT_PUBLIC_DEMO_MODE=false
NEXT_PUBLIC_WAITLIST_GOAL=40
NEXT_PUBLIC_INITIAL_COUNT=13

# ── SECURITY ──
CRON_SECRET=
